.form {
    background-color: aliceblue;
    width: 275px;
    margin-left: 10px;
    margin-top: 10px;
}

.legend{
    font-size: 1.225rem;
    font-weight: 600;
}

label{
    width: 100%;
}

.span-err {
    white-space: nowrap;
}

.btn{
    margin-top: 10px;
    padding: 10px 15px ;
}
