/* You can add global styles to this file, and also import other style files */
html {
    background-color: lightgrey;
}

.root {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 20% 80%;
}