<div class="table-div">
   <table>
    <tr>
        <td>Nombre de usuario</td>
        <td>Correo</td>
        <td>Suscrito</td>
        <td>Pais</td>
        <td>Ciudad</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><span *ngIf="user.subscribed" class="material-symbols-outlined">
            done
            </span></td>
        <td>{{user.country}}</td>
        <td>{{user.city}}</td>
        <td><span (click)="update(user.id!)" class="material-symbols-outlined">
            edit
            </span> <span (click)="delete(user.id!)" class="material-symbols-outlined">
            delete
            </span></td>
    </tr>
   </table>
</div>