<div class="table-div">
   <table>
    <tr>
        <td>Nombre de usuario</td>
        <td>Correo</td>
        <td>Suscrito</td>
        <td>Pais</td>
        <td>Ciudad</td>
        <td>Actions</td>
    </tr>
    <tr>
        <td>Adelina Ramon</td>
        <td>adelina.ramon@mail.com</td>
        <td><span class="material-symbols-outlined">
            done
            </span></td>
        <td>Portugal</td>
        <td>Lisboa</td>
        <td><span class="material-symbols-outlined">
            edit
            </span> <span class="material-symbols-outlined">
            delete
            </span></td>
    </tr>
    <!-- <tr>
        <td>Adelina Ramon</td>
        <td>adelina.ramon@mail.com</td>
        <td><span class="material-symbols-outlined">
            done
            </span></td>
        <td>Portugal</td>
        <td>Lisboa</td>
        <td><span class="material-symbols-outlined">
            edit
            </span> <span class="material-symbols-outlined">
            delete
            </span></td>
    </tr>
    <tr>
        <td>Adelina Ramon</td>
        <td>adelina.ramon@mail.com</td>
        <td><span class="material-symbols-outlined">
            done
            </span></td>
        <td>Portugal</td>
        <td>Lisboa</td>
        <td><span class="material-symbols-outlined">
            edit
            </span> <span class="material-symbols-outlined">
            delete
            </span></td>
    </tr>
    <tr>
        <td>Adelina Ramon</td>
        <td>adelina.ramon@mail.com</td>
        <td><span class="material-symbols-outlined">
            done
            </span></td>
        <td>Portugal</td>
        <td>Lisboa</td>
        <td><span class="material-symbols-outlined">
            edit
            </span> <span class="material-symbols-outlined">
            delete
            </span></td>
    </tr> -->
   </table>
</div>